@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  margin: 0;
  padding: 0;
  font-family: Play, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #213547;

  --blackPurple: #150016;
  --deepPurple: #29104A;
  --purple: #522C5D;
  --white: #FFE3D8;
  --royalPurple: #76007C;
  --darkPurple: #281845;
  --mediumPurple: #512A80;
  --lightPurple: #8A52C3;

  --gradient: linear-gradient(to bottom right, #46009b, #bc8ceb);
}

/*THEME COLORS FOR BACKGROUND*/
.blackPurple-bg{
  background-color: var(--blackPurple);
}
.deepPurple-bg {
  background-color: var(--deepPurple);
}
.purple-bg {
  background-color: var(--purple);
}
.white-bg {
  background-color: var(--white);
}
.royalPurple {
  background-color: var(--royalPurple);
}
.darkPurple-bg{
  background-color: var(--darkPurple);
}
.mediumPurple-bg{
  background-color: var(--mediumPurple);
}
.lightPurple-bg {
  background-color: var(--lightPurple);
}
.gradient-bg{
  background: var(--gradient);
}

.login-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: fit-content;
  margin: 0;
  display: flex;
  place-items: center;
}

.login-img-bg {
  background-image: url('src/assets/login-bg.jpg');
  background-size: cover;
  position: relative;
}

.overlay-gradient {
  border-width: 10px;
  border-style: solid;
  border-image-source: linear-gradient(to bottom right, rgba(188, 140, 235, 0.85), rgba(70, 0, 155, 1));
  border-image-slice: fill 1;

}

/*button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}*/

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}